name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    permissions:
      contents: read

    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: true

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - run: npm ci --legacy-peer-deps

      - run: npm test

      - name: Parse astro examples
        run: pwsh -NoProfile -File script/parse-examples.ps1
